/*general style start*/
* {
    margin: 0 auto;}

body {
    background-color: #edebee;
    background-image: url('/img/backgroun-newsletter.svg');
    background-repeat: no-repeat;
    background-position: 110% 40%;
    width: 100%;
    height: 100vh;
    min-height:100vh;
    overflow: hidden;
    color: #231f20;
    font-family: "Rajdhani", sans-serif;
    font-size: 1em;

}

section, #main-header img {
    padding-left: 10%;
    padding-top: 2vh;
}

#main-header,
footer {
    background-color: #fff; 
}
#content {
    max-height: 70vh;
}
/*general style stop*/

/*header start*/
#main-header {
    height: 15vh;
    position: relative
}

#main-header img {
    height: 5vh;
    position: absolute;
    transform: translateY(2.5vh);
}

/*header stop*/

/*main-info start*/

#main-info p:first-child {
    color: #d9232e;
    font-size: 1.8em;
    font-weight: 400;
}

/*main-info stop*/

/*section icon start*/

#icon figure {
    display: inline-block;
    width: 20%;
    margin: 0 7vh 5vh 0;
}

.icons {
    height: 10vh;
    margin: 5vh 0 2vh;
}

#icon figure h1 {
    font-weight: 500;

}

#icon figure p {
    font-size: 0.9em;
  
}

/*section icon stop*/

/*section comment start*/

#coment span {
    color: #d9232e;
    font-weight: bold;
    margin-bottom: 4em;
}

/*section comment stop*/

/*section buttons start*/

.button {
    border-radius: 8px;
    padding: 1vh;
    color: #fff;
    width: 10%;
    border: 0px;
    margin-bottom: 43em;
    margin-right: 4em;
    font-size: 1em;
    font-weight: 500;
    font-family: "Rajdhani";

}

#btn-red {
    background-color: #d9232e;
}

#btn-green {
    background-color: #57a800;
}

/*section buttons stop*/

/*footer start*/

footer div {
    height: 15vh;
    width: 100%;
    background-color: #fff;
}
/*footer stop*/