/*general style start*/
body {
    background-color: #edebee;
    background-image: url('/img/backgroun-newsletter.svg');
    background-repeat: no-repeat;
    background-position: 80% 40%;
    width: 100%;
    height: 100vh;
    min-height:100vh;
    overflow: hidden;
    color: #231f20;
    font-family: "Rajdhani", sans-serif;
    font-size: 24px;
    margin: 0 auto;
}

section {
    padding-left: 100px;
}

#main-header,
footer {
    background-color: #fff;
    width: 100%;
}
/*general style stop*/

/*header start*/

#main-header img {
    height: 40px;
    padding: 40px 0px 40px 100px;

}

/*header stop*/

/*main-info start*/

#main-info {
    padding-top: 35px;
}

#main-info p:first-child {
    color: #d9232e;
    font-size: 36px;
    font-weight: 400;
    margin: auto;
}

#main-info p {
    margin: auto;
}

/*main-info stop*/

/*section icon start*/

#icon figure {
    display: inline-block;
    width: 20%;
    margin: 0 50px 20px 0;
}

.icons {
    height: 90px;
    margin: 70px 0 20px;
}

#icon figure h1 {
    font-weight: 500;
    margin: 0 auto;
}

#icon figure p {
    font-size: 18px;
    margin: 0 auto;
}

/*section icon stop*/

/*section comment start*/

#coment span {
    color: #d9232e;
    font-weight: bold;
    margin: 0px;
}

/*section comment stop*/

/*section buttons start*/

.button {
    border-radius: 8px;
    padding: 13px;
    color: #fff;
    width: 180px;
    border: 0px;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Rajdhani";

}

#btn-red {
    background-color: #d9232e;
}

#btn-green {
    background-color: #57a800;
}

/*section buttons stop*/

/*footer start*/

footer div {
    height: 100px;
    width: 100%;
    background-color: #fff;
}
/*footer stop*/